.post-items {
  .post {
    padding: 4em 0;
    border-bottom: 1px solid #eee;
    h2 {
      a {
        color: $dark-gray;
        text-decoration: none;
      }
    }
    &:first-of-type {
      padding-top: 0;
    }
  }
}

.post-thumbnail img {
  max-height: 500px;
}

.posts-sidebar-wrapper {
  display: flex;
  display: -webkit-flex;
  padding: 60px 0;
}

.posts-column {
  padding: 0 20px 60px 0;
}

.sidebar .search-form {
  margin-top: 0;
  padding: 20px;
  background-color: #f5f5f5;
}

.sidebar .widget {
  margin-bottom: 60px;
}

.sidebar {
  padding: 0 0 60px 60px;
  margin-left: auto;
  flex-shrink: 0;
  width: 400px;
  h2 {
    font-weight: 400;
    font-size: 1.5em;
    position: relative;
    padding-bottom: 15px;
    &::after {
      content: '';
      height: 2px;
      background-color: $gold;
      position: absolute;
      width: 100px;
      bottom: 0;
      left: 0;
    }
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    display: flex;
    display: -webkit-flex;
    border-bottom: 1px solid #eee;
    a {
      color: #555555;
      text-decoration: none;
      padding: 25px 20px 5px;
      transition: padding 250ms;
      &:hover {
        padding-left: 40px;
      }
    }
    .post-count {
      margin-left: auto;
      font-style: italic;
      color: #878787;
      padding: 25px 20px 5px;
      font-size: 0.875em;
    }
  }
}

.post-category {
  a {
    color: #878787;
    font-style: italic;
    text-decoration: none;
  }
}

.entry-meta {
  display: flex;
  display: -webkit-flex;
  p {
    margin: 0 0 10px;
  }
  .comment-count {
    margin-left: auto;
    color: #878787;
    font-style: italic;
    text-decoration: none;
    position: relative;
    padding-left: 25px;
    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 2px;
      width: 20px;
      content: url(img/comment.svg);
    }
  }
}

.byline {
  color: #878787;
  font-style: italic;
  text-decoration: none;
}

.comments-section {
  padding: 120px 0 60px;
  label {
    display: block;
    margin-bottom: 10px;
  }
  textarea {
    width: 100%;
  }
  textarea,
  input:not(.submit) {
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    background-color: #f5f5f5;
    padding: 15px;
    &:focus {
      outline: none;
      border: 1px solid $gold;
    }
  }
}

.comment-notes {
  font-style: italic;
  color: #878787;
}

.comment-form-comment {
  margin: 20px 0;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
  display: inline-block;
  width: 49.8%;
  input {
    width: 100%;
  }
}

.comment-form-author,
.comment-form-url {
  padding-right: 10px;
}

.comment-form-email {
  padding-left: 10px;
}

.comments-section .submit {
  padding: 15px 30px;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  text-align: center;
  background-color: $dark-gray;
  color: #fff;
  margin-top: 20px;
  &:hover {
    cursor: pointer;
  }
}

.comments-navigation {
  .nav-links {
    display: flex;
    display: -webkit-flex;
  }
  .nav-previous,
  .nav-next {
    display: inline-block;
  }
  .nav-next {
    margin-left: auto;
  }
  .nav-previous a,
  .nav-next a {
    color: #343434;
    font-weight: 700;
    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 980px) {
  .posts-sidebar-wrapper {
    display: block;
  }
  .posts-column {
    padding: 60px 0;
  }
  .sidebar {
    padding: 60px 0;
  }
}

@media (max-width: 580px) {
  .posts-sidebar-wrapper {
    padding: 0;
  }
}
