@import 'variables';

.button {
  padding: 15px 30px;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

.button:not(.search-submit) {
  min-width: 200px;
}

.button-primary {
  background-color: $dark-gray;
  color: #fff;
}

.button-accent {
  background-color: $gold;
  color: #fff;
}

.scroll-button {
  display: inline-block;
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  line-height: 1;
  img {
    height: 20px;
    width: 20px;
  }
}

blockquote {
  border-left: 15px solid #eee;
  margin: 20px 0;
  padding-left: 40px;
}

.page-header {
  padding: 60px 0;
  background-color: #f5f5f5;
  margin-bottom: 40px;
}

.section-title {
  position: relative;
  padding-bottom: 15px;
  display: inline-block;
  &::after {
    content: '';
    height: 2px;
    background-color: $gold;
    position: absolute;
    width: 100px;
    bottom: 0;
    left: 0;
  }
}

.section-title.section-title-center {
  &::after {
    content: '';
    height: 2px;
    background-color: $gold;
    position: absolute;
    width: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.search-form {
  width: 100%;
  margin-top: 1.5em;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  input {
    padding: 10px 20px;
    margin: 0 10px 0 0;
    width: 100%;
  }
}

.search-submit {
  padding: 9px 14px;
  margin-top: 0;
}

.search-field {
  border-radius: 3px;
  border: 1px solid #ccc;
}

.subpage {
  .button:not(.search-submit) {
    margin-top: 20px;
  }
}

.text-center {
  text-align: center;
}

.light-background {
  background-color: $light-gray;
}

.entry-content img {
  margin-top: 30px;
}
