@import 'variables';

.footer-social {
  background-color: #f5f5f5;
  padding: 30px 0;
  text-align: center;
  a {
    color: $medium-gray;
    font-size: 1.5em;
    padding: 10px 5px;
    margin: 0 5px;
  }
}

footer {
  padding: 5px 5%;
  background-color: $dark-gray;
  color: #fff;
  .footer-info {
    display: flex;
    display: -webkit-flex;
  }
  .credits {
    margin-left: auto;
    a {
      color: #fff;
      font-weight: 700;
      text-decoration: underline;
      text-decoration-skip: ink;
    }
  }
}
