@import 'variables';

.header-meta {
  padding: 10px 5%;
  background-color: #343434;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  .social-icons {
    a {
      color: #fff;
      padding: 5px;
      margin: 0 5px;
      font-size: 1em;
    }
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  .contact-info {
    margin-left: auto;
    text-align: right;
    a {
      margin-left: 20px;
    }
    svg {
      color: #fff;
      margin-right: 10px;
    }
  }
}

.header-main .flex-wrapper {
  padding: 20px 5%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.header-logo {
  width: 300px;
  a {
    width: 100%;
    color: $dark-gray;
    text-decoration: none;
    font-size: 1.875em;
    font-weight: 700;
  }
  img {
    width: auto;
    max-height: 100px;
  }
}

.page-banner {
  position: relative;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.homepage-banner {
  .flex-wrapper {
    height: 600px;
    height: 50vmax;
    min-height: 500px;
    max-height: 700px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    position: relative;
    &::after {
      content: '';
      background: rgba(52, 52, 52, 0.35);
      background: -moz-linear-gradient(
        left,
        rgba(52, 52, 52, 0.45) 0%,
        rgba(52, 52, 52, 0) 100%
      );
      background: -webkit-gradient(
        left top,
        right top,
        color-stop(0%, rgba(52, 52, 52, 0.45)),
        color-stop(100%, rgba(52, 52, 52, 0))
      );
      background: -webkit-linear-gradient(
        left,
        rgba(52, 52, 52, 0.45) 0%,
        rgba(52, 52, 52, 0) 100%
      );
      background: -o-linear-gradient(
        left,
        rgba(52, 52, 52, 0.45) 0%,
        rgba(52, 52, 52, 0) 100%
      );
      background: -ms-linear-gradient(
        left,
        rgba(52, 52, 52, 0.45) 0%,
        rgba(52, 52, 52, 0) 100%
      );
      background: linear-gradient(
        to right,
        rgba(52, 52, 52, 0.45) 0%,
        rgba(52, 52, 52, 0) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(
          startColorstr='#343434',
          endColorstr='#343434',
          GradientType=1
        );
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
  .page-banner-content {
    position: relative;
    z-index: 2;
  }
  .page-banner-heading {
    font-size: 4em;
    margin: 0 0 10px 0;
    color: #fff;
  }
  .page-banner-subheading {
    font-style: italic;
    font-size: 1.75em;
    line-height: 1.3;
    color: #fff;
  }
  .button {
    margin-top: 20px;
  }
}

.subpage-banner {
  height: 300px;
  height: 20vmax;
  min-height: 200px;
  max-height: 400px;
  position: relative;
  &::after {
    content: '';
    background-color: rgba(49, 62, 72, 0.35);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

@media (max-width: 480px) {
  .contact-info {
    .email {
      display: none;
    }
  }
}
