.padding-wrapper {
  padding: 0 5%;
}

.padding-full {
  padding: 60px 5%;
}

.medium-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.large-wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

.small-wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.text-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.half-block {
  width: 50%;
  display: inline-block;
}

.flex-wrapper {
  display: flex;
  display: -webkit-flex;
}

.site-content {
  min-height: 400px;
}

@media (max-width: 980px) {
  .half-block {
    display: block;
    width: 100%;
  }
}
