.image-left {
  display: flex;
  display: -webkit-flex;
  .half-block:not(.image-fill) {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
  }
}

.content-block {
  padding: 60px 0;
  .button {
    margin-top: 20px;
  }
  .block-padding {
    padding: 40px;
  }
}

.content-block.full-width {
  padding: 0;
}

.content-block.full-width + .content-block.full-width {
  margin: 0;
}

.content-block:not(.full-width) + .content-block.full-width {
  margin-top: 60px;
}

.content-block.full-width + .content-block:not(.full-width) {
  margin-top: 60px;
}

.content-block:last-of-type {
  .light-background {
    background-color: #fff;
  }
  &:not(.full-width) {
    margin-bottom: 60px;
  }
}

.block-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-block.image-left-full {
  padding: 0;
}

.image-left-full {
  .block-padding {
    padding: 80px 40px;
  }
  .image-fill {
    min-height: 350px;
  }
}

.image-fill {
  background-size: cover;
  background-position: center;
}

.info-cards {
  padding: 60px 0;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center;
  .info-card {
    width: 45%;
    margin: 20px;
    padding: 40px 20px;
    background-color: $light-gray;
    text-align: left;
    &:not(.image-card) {
      border: 15px solid #eee;
    }
  }
  .image-card {
    background-size: cover;
    background-position: center;
  }
}

.full-width-cta.block-padding {
  padding: 80px 0;
  text-align: center;
}

.quote-cards {
  padding: 20px 0;
  -moz-column-count: 2;
  -moz-column-gap: 0px;
  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  column-count: 2;
  column-gap: 0px;
  width: 100%;
}

.quote-card {
  display: inline-block;
  margin: 20px 4%;
  vertical-align: top;
  padding: 20px;
  background-color: $light-gray;
  text-align: left;
  border: 15px solid #eee;
  svg {
    margin-right: 20px;
    width: 30px;
  }
  .quote-wrapper {
    display: flex;
    display: -webkit-flex;
  }
  p {
    margin-top: 0;
  }
}

.post-list {
  padding-top: 40px;
  .image-left {
    justify-content: center;
    -webkit-justify-content: center;
    margin-bottom: 40px;
    background-color: #f5f5f5;
  }
}

.content-block.image-full {
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

@media (max-width: 980px) {
  .content-block {
    padding: 60px 0 0;
  }
  .image-left {
    display: block;
    .image-fill {
      min-height: 400px;
    }
    .block-padding {
      padding: 40px 0;
    }
  }
  .image-left-full {
    .block-padding {
      padding: 40px 5%;
    }
  }
  .content-block {
    .info-cards {
      justify-content: space-between;
      -webkit-justify-content: space-between;
      .info-card {
        width: 100%;
        margin: 20px 0;
        &:first-of-type {
          margin-top: 0;
        }
      }
      .image-card {
        min-height: 240px;
        width: 47%;
        margin: 20px 0;
      }
    }
  }
}

@media (max-width: 780px) {
  .image-left {
    display: block;
    .image-fill {
      min-height: 300px;
    }
  }
  .quote-cards {
    -moz-column-count: 1;
    -moz-column-gap: 0px;
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    column-count: 1;
    column-gap: 0px;
  }

  .quote-card {
    width: 100%;
    margin: 20px auto 40px;
  }
}

@media (max-width: 580px) {
  .content-block {
    .info-cards {
      justify-content: center;
      -webkit-justify-content: center;
      .image-card {
        min-height: 240px;
        width: 100%;
      }
    }
  }
}
