@import 'variables';

.desktop-menu {
  margin-left: auto;
  .menu-item-has-children {
    position: relative;
    &.dropdown-active {
    }
    &:hover {
      cursor: pointer;
      .sub-menu {
        left: 0;
        opacity: 1;
        transform: scale(1);
        display: block;
      }
    }
  }
  ul:first-of-type {
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding: 0;
    margin: 0;
    margin-left: -10px;
    .menu-item,
    .page_item {
      list-style: none;
      position: relative;
      a {
        padding: 10px 15px;
        text-decoration: none;
        color: $dark-gray;
        &:hover {
          color: #666;
        }
        &:focus::after {
          content: '';
          height: 2px;
          background-color: $gold;
        }
      }
      &.current-menu-item::after,
      &.current_page_item::after {
        content: '';
        height: 2px;
        background-color: $gold;
        position: absolute;
        width: 40px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      &.current-menu-parent::after,
      &.current_page_parent::after {
        content: '';
        height: 2px;
        background-color: $gold;
        position: absolute;
        width: 40px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
    .sub-menu,
    .children {
      .menu-item,
      .page_item {
        &.current-menu-item::after,
        &.current_page_item::after {
          content: '';
          height: 2px;
          background-color: $gold;
          position: absolute;
          width: 100px;
          bottom: 0;
          left: 15px;
          right: auto;
        }
      }
    }
  }
}
.sub-menu,
.children {
  transform: scale(0);
  transition: transform 250ms;
  position: absolute;
  left: -9999px;
  top: 100%;
  width: 200px;
  background-color: #eee;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
    width: 100%;
    a {
      display: inline-block;
      width: 100%;
      cursor: pointer;
      padding: 5px 0;
      &:hover {
        margin: 0;
      }
    }
  }
}

.mobile-menu {
  display: none;
  position: relative;
}

.mobile-navigation {
  padding: 0 30px 30px;
}

.toggle-sidebar {
  display: none;
  padding: 10px 30px;
  border: 1px solid $dark-gray;
  outline: 0;
  border-radius: 3px;
  background-color: #fff;
  margin-left: auto;
  &:hover {
    cursor: pointer;
    background-color: $dark-gray;
    .hamburger-label {
      color: #fff;
    }
    .hamburger svg {
      fill: #fff;
    }
  }
  &:focus {
    background-color: $dark-gray;
    .hamburger-label {
      color: #fff;
    }
    .hamburger svg {
      fill: #fff;
    }
  }
}

.hamburger-label {
  display: inline-block;
  margin-right: 5px;
}

.hamburger {
  position: relative;
  display: inline-block;
  width: 25px;
  svg {
    fill: #333;
    margin-top: 5px;
    width: 20px;
  }
}

/* The side navigation menu */

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
  right: -15px;
  background-color: #eee;
  transform: translate3d(400px, 0, 0);
  transition: all 160ms cubic-bezier(0.82, 1.02, 0.84, 1.01) 0s;
  max-width: 400px;
  overflow-y: scroll;
}

.sidenav-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.sidenav-open {
  transform: translateX(0);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 1140px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: inline-block;
    margin-left: auto;
  }
  .toggle-sidebar {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
  }
}

#sidebar {
  text-align: left;
  height: 100%;
  max-width: 400px;
  ul {
    padding: 0;
    transition: all 1s;
    margin-top: 0;
    li {
      display: block;
      transition: padding 250ms;
      &:hover {
        a {
          padding-left: 40px;
        }
      }
      a {
        text-decoration: none;
        display: inline-block;
        transition: 0.3s;
        font-size: 1.25em;
        width: 100%;
        padding: 10px 20px;
        margin: 5px 0;
        color: #333;
      }
    }
  }
}

/* The navigation menu links */

.mobile-nav-header {
  position: relative;
  width: 100%;
}

.close-sidenav {
  padding: 10px;
  text-align: right;
}

.closebtn {
  z-index: 3000;
  display: inline-block;
  padding: 10px 20px 10px 10px;
  line-height: 1;
  margin: 20px 0;
  background-color: inherit;
  border: 0;
  img {
    height: 30px;
    width: 30px;
    transition: transform 150ms;
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}

@media (max-width: 680px) {
  .sidenav {
    transition: all 0.25s;
  }
  #sidebar a {
    font-size: 18px;
  }
}

@media (max-width: 580px) {
  .mobile-menu {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .sidenav {
    width: 100%;
    max-width: 400px;
  }
}
